{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block content_title %}{{ post.title }}{% endblock %}

{% block breadcrumb_trail %}
    <ul class="breadcrumb pull-right">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
        <li class="active">{{ post.title }}</li>
    </ul>
{% endblock %}

{% block content %}
    <div class="col-sm-8">
        <div class="blog">
            <div class="blog-item">
                <img class="img-responsive img-blog" src="{% static 'images/blog/blog2.jpg' %}" width="100%" alt="" />
                <div class="blog-content">
                    <h3>{{ post.title }}</h3>

                    <p>{{ post.body }}</p>

                    <p class="tags">
                        <span>
                            <i class="icon-tags"></i> Tags
                        </span>
                        <a class="btn btn-xs btn-primary" href="#">CSS3</a>
                        <a class="btn btn-xs btn-primary" href="#">HTML5</a>
                        <a class="btn btn-xs btn-primary" href="#">WordPress</a>
                        <a class="btn btn-xs btn-primary" href="#">Joomla</a>
                    </p>

                    <div class="author well">
                        <div class="media">
                            <div class="pull-left">
                                <img class="avatar img-thumbnail" src="{% static 'images/blog/avatar.jpg' %}" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <strong>{{ post.author }}</strong>
                                </div>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.</p>
                            </div>
                        </div>
                    </div><!--/.author-->

                    <div id="comments">
                        <div id="comments-list">
                            {% for comment in post.comments.all %}
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="avatar img-circle" src="{% static 'images/blog/avatar1.png' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="well">
                                            <div class="media-heading">
                                                <strong>{{ comment.author }}</strong>&nbsp; <small>{{ comment.date_added }}</small>
                                            </div>
                                            <p>{{ comment.text }}</p>
                                        </div>
                                    </div>
                                </div><!--/.media-->
                            {% endfor %}
                        </div><!--/#comments-list-->

                        {% if user.is_authenticated %}
                            <div id="comment-form">
                                <h3>Leave a comment</h3>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-default">Add</button>
                                </form>
                            </div><!--/#comment-form-->
                        {% endif %}
                    </div><!--/#comments-->
                </div>
            </div><!--/.blog-item-->
        </div>
    </div><!--/.col-sm-8-->
{% endblock %}

{% block sidebar %}
    <div class="col-sm-4">
        <div class="widget search">
            <form method="post" action="{% url 'search' %}">
                {% csrf_token %}
                {{ search_form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="widget categories">
            <h3>Categories</h3>
            {% if categories %}
                <ul class="arrow">
                {% for category in categories %}
                    <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There are no categories.</p>
            {% endif %}
        </div><!--/.categories-->
    </div><!--/.col-sm-4-->
{% endblock %}